@import '../../../scss/variable';
@import '../../../scss/mixin';

.project-section {
    position: relative;
    text-align: left;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    padding-bottom: 20px;
}

.project-name {
    font-size: 20px;
    line-height: 2;
    margin-top: 8px;
    padding-left: 20px;

    @include for-size(xs-only) {
        padding-left: 20px;
    }
}

.key-words {
    ul {
        padding-left: 20px;
        margin: 0;
    }

    li {
        display: inline-block;
        line-height: 1;
        padding: 4px 8px;
        margin-right: 3px;
        font-size: 12px;
        background-color: #EEE;
        background-image: none;
        border-radius: 6px;
        color: #000D20;
        text-shadow: 1px 1px 1px #999;
    }
}

.descriptions ul {
    padding-left: 15px;
}


.row {
    margin-bottom: 20px;
}

.column-content {
    flex: 1 1;
    padding-right: 10px;
    min-width: $bodyMinWidth;

    @include for-size(sm-up) {
        min-width: 600px;
    }
}

.column-gallery {
    flex: 1 1 480px;
    max-width: 480px;
    align-items: center;
    justify-content: center;
    display: flex;

    @include for-size(lg-down) {
        max-width: none;
    }
}

hr {
    height: 1px;
    width: 100%;
    margin-top: 40px;
    border: 0;
    background-color: #0065C1;

    @include for-size(xs-only) {
        width: 90%;
    }
}