@import '../../../scss/mixin';

.project-section {
    position: relative;
    text-align: left;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.project-name {
    font-size: 20px;
    line-height: 2;
    margin-top: 8px;
    padding-left: 30px;

    @include for-size(xs-only) {
        padding-left: 20px;
    }
}

.row {
    margin-bottom: 40px;
}

.column-content {
    flex: 1 1;
    padding-right: 10px;
    min-width: 360px;

    @include for-size(sm-up) {
        min-width: 600px;
    }
}

.column-gallery {
    flex: 1 1 480px;
    max-width: 480px;
    align-items: center;
    justify-content: center;
    display: flex;

    @include for-size(lg-down) {
        max-width: none;
    }
}