<div class="project-section">
    <div class="container">
        <article-component [title]="project.title" [icon]="project.icon">
            <div class="row" *ngFor="let item of project.list; let last = last">
                <div class="column-content">
                    <h3 class="project-name">{{ item.name }}</h3>
                    <div class="key-words">
                        <ul>
                            <li *ngFor="let keyword of item.keywords">{{ keyword }}</li>
                        </ul>
                    </div>
                    <div class="descriptions">
                        <ul>
                            <li *ngFor="let description of item.descriptions" [innerHTML]="description"></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="column-gallery">
                    <gallery-component [coverImage]="item.coverImageSrc" [images]="item.gallery"></gallery-component>
                </div>
                <hr [hidden]="last">
            </div>
        </article-component>
    </div>
</div>