@import '../../../scss/mixin';

$hexLength: 50px;
$iconSize: $hexLength * 0.35;

.social-icon-component {
    display: inline-block;
    width: $hexLength; /* $length */
    height: $hexLength * 0.866; /* $length * 0.866 */
    cursor: pointer;
    position: relative;
    background-image: url('/assets/hexagon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    margin: 0 4px;

    &:hover {
        opacity: 1;

        .tooltip {
            display: inline-block;
        }
    }

    & > svg {
        fill: #FFF;
        position: absolute;
        left: $hexLength * 0.5 - $iconSize * 0.5;
        top: $hexLength * 0.45 - $iconSize * 0.5;
        width: $iconSize; 
        height: $iconSize;
    }

    // because there is no hover effect in mobile device
    @include for-size(xs-only) {
        opacity: 1;
    }
}

.tooltip {
    // display: inline-block;
    display: none;
    width: auto;
    background-color: #EEE;
    color: #000D20;
    text-shadow: 1px 1px 1px #999;
    text-align: center;
    padding: 4px 8px;
    border-radius: 6px;
    position: absolute;
    font-size: 12px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;

    &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #EEE transparent;
    }
}

