<div class="contact-section">
    <div class="container">
        <p>與我聯絡</p>
        <p class="email">6chinwei@gmail.com</p>
        <div class="social-links">
            <social-icon url="https://github.com/6chinwei" icon="github">GitHub</social-icon>
            <social-icon url="https://www.linkedin.com/in/6chinwei" icon="linkedin-square">LinkedIn</social-icon>
            <social-icon url="mailto:6chinwei@gmail.com" icon="envelope">Email</social-icon>
            <social-icon url="https://www.facebook.com/rockliuy" icon="facebook">Facebook</social-icon>
        </div>
    </div>
</div>