<div class="landing-section">
    <div class="calling-card">
        <h1>
            <img class="name" src="./assets/ChinWeiLiu.svg" alt="CHIN-WEI LIU"/>
        </h1>
        <p class="title">Front-end Developer / JavaScript Engineer</p>
        <a class="website-url" href="http://www.6chinwei.cc">www.6chinwei.cc</a>
    </div>
    <div class="social-links">
        <social-icon url="https://www.facebook.com/rockliuy" icon="facebook"></social-icon>
        <social-icon url="https://github.com/6chinwei" icon="github"></social-icon>
        <social-icon url="mailto:6chinwei@gmail.com" icon="envelope"></social-icon>
        <social-icon url="https://www.linkedin.com/in/6chinwei" icon="linkedin-square"></social-icon>
    </div>
</div>