@import '../../../scss/mixin';

.article-component {
    position: relative;
    padding-top: 10px;

    .article-content {
        padding-top: 75px;
        padding-left: 50px;

        @include for-size(xs-only) {
            padding-left: 0;
        }
    }
}