@import './mixin';

.article-component .article-content {
    ul {
        list-style-type: none;

        li {
            padding-left: 28px;
            padding-bottom: 12px;
            line-height: 1.5;
            background: url('/assets/arrow.gif') no-repeat 0 0;
        }

        @include for-size(xs-only) {
            padding-left: 15px;
        }
    }

    .title {
        color: #FFF;
        font-weight: bold;
    }   
}