@import './mixin';

.container {
    display: block;
    margin-right: auto;
    margin-left: auto;

    @include for-size(sm-up) {
        padding-left: 15px;
        padding-right: 15px; 
        width: 750px;
    }

    @include for-size(md-up) {
        width: 970px;
    }

    @include for-size(lg-up) {
        width: 1170px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}