
body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  color: $fontColor;
  box-sizing: border-box;
  min-width: $bodyMinWidth;
  font-size: $fontSize;

  * {
    box-sizing: border-box;
  }
}

a {
  color: $fontColor;
  text-decoration: none;

  &:hover, &:focus {
    color: #0065C1;
  }
}

h1, h2, h3, h4 {
    margin: 0;
}